<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="com.ankiminer.android.debug.s2.S2ProbeMediaProvider"
            android:authorities="${applicationId}.s2.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <provider
            android:name="com.ankiminer.android.debug.S3TestDocumentsProvider"
            android:authorities="${applicationId}.s3.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity
            android:name="com.ankiminer.android.debug.ScaffoldProbeActivity"
            android:exported="true"
            android:label="@string/scaffold_probe_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
